html {
  position: relative;
  min-height: 100%;
} 


body {
  background-color: #fefdff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%230092e1' fill-opacity='0.03'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: black;
  margin-bottom: 60px;
  overflow-x: hidden;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}


.welcome, .panel-body {
  background-color: #fefdff;
}

.navbar {
  background-color: dodgerblue;
}

.navbar-brand {
  color: white;
}

.search-btn {
  width: 340px;
  height: 40px;
  border: 1px solid dodgerblue;
  background-color: white;
  color: black;
  &:hover {
    background-color: grey;
    color: white;
  }
}

.col-md-4 {
  text-align: center;
}

.btn-primary {
  background-color: dodgerblue;
}
.btn-primary:hover{
    background-color:white;
    color: black

}
.user-name:hover:first-of-type {
     background-color:dodgerblue;
     color: black 
}
.capitalize {
    text-transform: capitalize;   
  }

.welcome {
  border: 2px solid whitesmoke;
  padding: 0 100px 100px 100px;
}


/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.title{
  font-weight: bold;
}
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    border: 4px solid white;
}
.thumbnail:hover{
   border: 4px solid dodgerblue;
   -moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
    box-shadow: 2px 2px 2px #999;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}
